<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/">Home</a>
                <a href="/search">Search</a>
                <a href="/myjobs">Mylist</a>
            </ul>
        </nav>
       
    </header>
<h1>My list</h1>

    <section>

    <div>
        <p><%= insertedData.title %> </p>
        <p><%= insertedData.company %> </p>
        <p><%= insertedData.clocation %> </p>
        <p><%= insertedData.curl %> </p>
        <form action="/viewdeatails/<%= insertedData.id %> ">
            <button type="submit">view details</button>
        </form>
      </div>

        
        
    </section>
</body>
</html>